@import '../../utilities/CSS/variables.module.scss';

.article {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 1px; //To fix offest of sections for scrolling plugin

  @media only screen and (min-width: $mobile-xxlg) {
    & {
      padding-bottom: 300px;
      padding-bottom: 0;
      margin-bottom: 90px;
      padding-top: 1px;
    }
  }
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $mobile-lg) {
    & {
      margin: 60px auto 0;
    }
  }
}

hr {
  border: none;
  border-top: 1px solid #000;
}

.track {
  max-width: 665px;
  margin-top: 20px;
  padding-bottom: 150px;

  & > div:first-of-type {
    max-width: 396px;
  }

  @media only screen and (min-width: $mobile-md) {
    margin-top: auto;
  }

  @media only screen and (min-width: $mobile-lg) {
    & {
      padding-top: 200px;
      margin-bottom: auto;
    }
  }

  @media only screen and (min-width: $mobile-xxlg) {
    & {
      padding-top: 250px;
      padding-bottom: 280px;
    }
  }
}
