@import '../../../utilities/CSS/variables.module.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: $mobile-md) {
    & {
      padding: 0 15px;
    }
  }
}
