@import '../../../utilities/CSS/variables.module.scss';

.wrapper {
  text-align: center;

  .title {
    margin: 0;
    display: inline-block;
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 0 0 30px;
    letter-spacing: 5px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      left: 50%;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: #000;

      @media only screen and (min-width: $mobile-sm) {
        transform: translateY(-50%, -50%);
        // max-width: 500px; //Commented due to inconsistiency in PSD layout...
        max-width: 600px;
        width: 110%;
      }
    }

    @media only screen and (min-width: $mobile-sm) {
      font-size: 3.125rem;
    }
  }

  .clippingMask {
    @extend .title;
    // background-image: url('/assets/images/title-1-bg.png');

    -webkit-background-clip: text;
    /* let's assume that one day it's supported */
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: transparent;
  }

  .gradient {
    @extend .clippingMask;
    background-image: linear-gradient(to bottom, #62a2ad 0%, #8dbab3 100%);
  }
}
