@import '../../../utilities/CSS/variables.module.scss';

.wrapper {
  text-align: center;

  .title {
    margin: 0;
    display: inline-block;
    color: #000;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 0 0 30px;
    letter-spacing: 2px;

    @media only screen and (min-width: $mobile-sm) {
      font-size: 3.125rem;
    }
  }

  .clippingMask {
    @extend .title;
    // background-image: url('/assets/images/title-1-bg.png');

    -webkit-background-clip: text;
    /* let's assume that one day it's supported */
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: transparent;
  }

  .gradient {
    @extend .clippingMask;
    background-image: linear-gradient(to bottom, #edb575 0%, #865130 100%);
  }
}
