@import '../../utilities/CSS/variables.module.scss';

.article {
  // background-image: url('/assets/images/discography-bg.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 30px; //To fix offest of sections for scrolling plugin
  padding-bottom: 100px;

  .wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 10px auto 0;

    @media only screen and (min-width: $mobile-lg) {
      & {
        margin: 65px auto 0;
      }
    }
  }

  @media only screen and (min-width: $mobile-lg) {
    padding-bottom: 300px;
    padding-top: 1px;
    margin-bottom: 90px;
  }
}

hr {
  border: none;
  border-top: 1px solid #000;
}

.track {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  @media only screen and (min-width: $mobile-lg) {
    & {
      flex-direction: row;
    }

    & > div {
      flex: 0 1 50%;
      padding: 10px;
    }
  }
}
