.formItem {
  width: 100%;
  margin: 25px 0 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  &Error {
    @extend .formItem;

    & .input,
    .label {
      color: #dc3545;
    }

    & .formItemBar {
      background-color: #dc3545 !important;
    }
  }
}

.errorContainer {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  font-size: 11px;
  color: #dc3545;
}

.formItemBar {
  width: 100%;
  height: 1px;
  background: #7d7d7d;
  transition: 0.1s all;
}

.label {
  color: #7d7d7d;
  position: absolute;
  top: 1px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
}

.input,
.textarea {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
}

.textarea {
  resize: none;
  min-height: 80px;
  max-height: 80px;
  overflow-y: auto;
}

.input:focus,
.textarea:focus {
  outline: none;
}

.textarea:focus {
  box-shadow: inset 0 0 18px -15px black;
}

.input:focus + .label,
.textarea:focus + .label {
  top: -22px;
  font-size: 13px;
}

.input:not(:placeholder-shown) + .label,
.textarea:not(:placeholder-shown) + .label {
  top: -22px;
  font-size: 13px;
}

.input:focus ~ .formItemBar,
.textarea:focus ~ .formItemBar {
  background: #abacac;
}
