.article {
  // background-color: #f1f1f1;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 3px;
  transition: box-shadow 0.25s ease, transform 0.25s ease, color 0.3s;
  height: 100%;

  &:hover {
    color: #dfa15b;
    transform: translateY(-5px);

    .image {
      &:after {
        opacity: 0.5;
      }
    }
  }

  .absoluteLink {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .image {
    position: relative;
    display: flex;
    max-height: 217px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(238, 181, 117, 0.3);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  .bottom {
    padding: 20px;
  }

  h2 {
    margin-top: 0px;
    a {
    }
  }
}
