.enter {
  opacity: 0;

  & > div {
    transform: translateY(-30%);
    transition: transform 350ms ease-in-out;
  }

  &Active {
    & > div {
      transform: translateY(0%);
    }

    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
}

.exit {
  opacity: 1;

  & > div {
    transform: translateY(0%);
    transition: transform 350ms ease-in-out;
  }

  &Active {
    & > div {
      transform: translateY(30%);
    }
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
}
