.container {
  max-width: 1400px;
  width: 90%;
  margin: 40px auto;

  .articlesWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
