@import '../../../utilities/CSS/variables.module.scss';
@import '../../../utilities/CSS/Animations/slideIn.modules.scss';

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 8, 12, 0.102);
  font-family: 'Dosis', sans-serif;
  transition: background-color 0.3s ease-in-out;

  .burger {
    padding: 10px;
  }

  .wrapper {
    padding: 0;
    margin: auto;

    .navItem {
      display: inline-block;
      list-style: none;

      &Link {
        text-decoration: none;
        color: #606060;
        font-size: 1.0625rem;
        padding: 20px 2px;
        margin: 0 21px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1.25px;
        transition: color 0.3s, text-shadow 0.3s;

        &:hover {
          color: $black;
          position: relative;
          text-shadow: 0 0 0.5px black;
        }

        &:hover::after {
          content: '';
          position: absolute;
          width: 100%;
          margin-top: 10px;
          bottom: 8px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $black;
          // animation: slideIn 0.3s;
        }
        @media only screen and (min-width: $mobile-lg) {
          margin: 0 5px;
        }

        @media only screen and (min-width: $mobile-xlg) {
          margin: 0 21px;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 8, 12, 0.5);
}

.stickyFullfilled {
  @extend .sticky;
  background-color: #d1d1d1;
}
